@import "tailwindcss";

@theme inline {
    --font-roboto: var(--font-roboto);

      /* Primary colors */
    --color-primary: var(--color-blue-600);
    --color-primary-light: var(--color-blue-500);
    --color-primary-dark: var(--color-blue-700);
    --color-secondary: var(--color-white);
    --color-tertiary: var(--color-gray-700);
    --color-tertiary-light: var(--color-gray-600);
    --color-tertiary-dark: var(--color-gray-800);

    --color-primary-border: var(--color-gray-300);
    --color-primary-bg: var(--color-gray-50);
}
